.Photo__title
  %h1
    = @user.name+"さんの投稿一覧"
  .Photo__list
    %ul
      %li
        - @photo.each do |photo|
          = photo.text
          .file
            = image_tag asset_path(photo.image.url)
  .Photo__link
    = link_to "トップページに戻る", root_path, class:"link"