.header
  .header__title Tic
  .header__list 
    -if user_signed_in?
      %p.name
        = current_user.name
      %p 
        = link_to 'ログアウト', destroy_user_session_path, method: :delete
    - else
      %p 
        = link_to 'ログイン', new_user_session_path
      %p 
        = link_to '新規登録', new_user_registration_path
        
  .contents
    .contents__image
